* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Times, serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 2px solid #000000;
  width: 100%;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.logo {
  width: auto;
  height: 100px;
  object-fit: cover;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  position: relative;
  padding: 0 20px;
}
#navbar li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: 0.5s;
}
#navbar li a:hover {
  color: #c9d6df;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #000000;
  left: 35%;
  margin-bottom: 5px;
  bottom: -10px;
}
.search {
  display: inline-block;
  position: relative;
}
.search input {
  width: 350px;
  border: 1px solid #000000;
  border-radius: 40px;
  padding: 14px 20px;
  outline: none;
}
.search input:focus {
  border: 1px solid #000000;
}
.search button {
  border: none;
  cursor: pointer;
  position: absolute;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  top: 0;
  right: 0;
  transition: 0.5s;
  border: 1px solid #000000;
  border-radius: 40px;
  padding: 5px;
  background-color: #000000;
  color: white;
  padding: 14px 25px;
}
.search button:hover {
  transform: scale(1.1);
  background-color: #c9d6df;
  color: black;
}
#user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnDangNhap {
  overflow: visible;
  border: none;
  cursor: pointer;
  background: none;
  color: black;
  transition: 0.5s;
  text-decoration: none;
  margin-right: 30px;
  position: relative;
  font-size: 16px;
}
.btnDangNhap:hover {
  color: #c9d6df;
}
.cart_icon {
  background-color: #f7f7f7;
  padding: 6px 10px;
  border-radius: 24px;
  font-size: 24px;
  text-decoration: none;
  color: #0f0f0f;
  transition: 0.5s ease;
  margin-right: 20px;
}
.cart_icon:hover {
  background-color: #c9d6df;
}
.slide{
    width: 100%;
    height: 1000px;
    background-image: url(../Tainguyen/OIP.jpg);
    background-size: cover;
    background-position: bottom;
}
.slide_btn{
    margin-top: 800px;
    float: left;
    margin-left: 80px;
}
.slide_btn button{
    border: none;
    cursor: pointer;
    background: none;
    color: white;
    transition: 0.5s;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #000000;
}
.slide_btn button:hover{
    background-color: #c9d6df;
    color: black;
}
#product1{
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 0 40px;
}
#product1 h1{
  font-size: 36px;
  margin-top: 24px;
  font-weight: lighter;
}
#product1 .big_container{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  flex-wrap: wrap;
}
#product1 .sp_box{
  width: 23%;
min-width: 248px;
padding: 10px 12px;
border: 1px solid #0f0f0f;
border-radius: 25px;
cursor: pointer;
margin: 20px 0;
transition: 0.2s ease;
position: relative;
}
.sp_box a:hover{
  cursor: pointer;
}
#product1 .sp_box:hover{
  border-color: #000000;
  box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.1);
}
#product1 .sp_box img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 25px;
}
#product1 .sp_box .sp_content{
  text-align: start;
  padding: 10px 0;
}
#product1 .sp_box .sp_content span{
  font-size: 12px;
  color: #c9d6df;
}
#product1 .sp_box .sp_content h4 {
  color: #0f0f0f;
  font-size: 18px;
}

#product1 .sp_box .sp_content h3 {
  padding-top: 4px;
  color: #000000;
  font-size: 20px;
  text-decoration: underline;
}
#product1 .cart{
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 50px;
  position: absolute;
  font-size: 10px;
  bottom: 16px;
  right: 12px;
  line-height: 40px;
  color: #c9d6df;
}
#product1 .cart:hover{
  background-color: #c9d6df;
  color: white;
}
.center_button{
  display: flex;
  justify-content: center; 
  align-items: center;       
}
.center_button .custom_button{
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  transition: 0.5s;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #000000;
  margin: 20px;
}
.center_button .custom_button:hover{
  background-color: #c9d6df;
  color: black;
}
#sm_banner{
  display: flex;
  margin: 24px 0;
  width: 100%;
  height: 500px;
  background-image: url(../Tainguyen/airpod.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 10px 20px;
}
#sm_banner .banner_box h4{
  font-size: 16px;
  color: white;
}
#sm_banner .banner_box h1{
  font-size: 32px;
  color: white;
  margin-bottom: 18px;
}
#sm_banner button{
  border: none;
  cursor: pointer;
  background: none;
  color: #000000;
  transition: 0.5s;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: white;
}
#sm_banner button:hover{
  background-color: black;
  color: white;
  scale: 1.1;
}
#sm_banner .banner_box{
    margin-top: 250px;
    float: left;
    margin-left: 50px;
    letter-spacing: 2px;     
}
#service{
  text-align: center;
}
#service h1{
  font-size: 36px;
  margin-top: 24px;
  font-weight: lighter;
}
#service .big_container{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 16px;
  flex-wrap: wrap;
  padding: 0px 40px;
}
#service .sp_box{
  width: 25%;
  min-width: 250px;
  padding: 10px 10px;
  border: 1px solid #0f0f0f;
  border-radius: 25px;
  cursor: pointer;
  margin: 20px 0;
  transition: 0.2s ease;
  position: relative;
}
#service .sp_box .sp_content {
  text-align: start;
  padding: 10px 0;
  margin-left: 8px;
  transition: .8s ease;
}
#service .sp_box:hover{
  background-color: #c9d6df;
  border: none;
  color: black;
}
#service .sp_content a{
  float: right;
  margin-top: 20px;
}